@font-face {
    font-family: 'KievitPro';
    src: url('fonts/KievitPro-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'KievitPro';
    src: url('fonts/KievitPro-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'KievitPro';
    src: url('fonts/KievitPro-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'KievitPro';
    src: url('fonts/KievitPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
