:root {
    // Font
    --font-primary: 'KievitPro', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    // Colors
    --color-orange: #fc4f1e;
    --color-gray-ultra-light: #f1ebdb; // ?
    --color-gray-light: #a3a2a2;
    --color-gray: #9d9d9d;
    --color-gray-dark: #212121;
    --color-tomato: #ff4641;
    --color-yellow-linear-gradient: linear-gradient(90deg, #f5a623 0%, #f5c723 100%); // ?
}
